# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/osu-chheta/x64/Debug
/.vs/osu-chheta/v17
/x64/Debug
/.vs/osu/v17
/.vs
/GALNEYRUS - RAISE MY SWORD (TV Size) (Orofil) [FOUR DIMENSIONS].osu
